@import "tailwindcss/base";

@import "tailwindcss/components";

/* @import "components.css"; */

@import "tailwindcss/utilities";

body {
  @apply font-sans overflow-x-hidden font-abnormal;
}

.nav-dropdown-menu {
  left: 2.75rem;
  top: 1.75rem;
}

.text-box h2 {
  @apply text-2xl font-medium;
}

.text-box p {
  @apply pb-10;
}

.unmute-logo {
  width: 28%;
}

.nav-about.active {
  @apply text-unpurple underline;
}

.nav-teams.active {
  @apply text-ungreen underline;
}

.nav-artists.active {
  @apply text-unblue underline;
}

.video-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-wrapper {
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
  @apply fixed top-0 left-0 w-full h-full 
}

.video-image-overlay {
  background-size: 2%;
  background-image: url(/assets/png/checkerboard.png);
  background-position: center;
  image-rendering: pixelated;
  display: block;
  @apply absolute top-0 left-0 bottom-0 right-0 z-0 h-full w-full;
}


.clip-tile.active rect.red.inverse, .clip-tile.active polygon.green, rect.red, rect.green.inverse, polygon.green {
  fill: #ff3000;
}
.clip-tile.active rect.green.inverse, .clip-tile.active polygon.red, rect.green, rect.red.inverse, polygon.red {
  fill: #048e35;
}
.clip-tile.active rect.brown.inverse, .clip-tile.active polygon.blue, .clip-tile.active polygon.purple, rect.brown, rect.blue.inverse, rect.purple.inverse, polygon.purple, polygon.blue {
  fill: #9b591e;
}
.clip-tile.active rect.blue.inverse, .clip-tile.active polygon.brown, rect.blue, rect.brown.inverse, polygon.brown {
  fill: #0963b5;
}
.clip-tile.active rect.purple.inverse, rect.purple {
  fill: #6043ba;
}

polygon.inverse {
  fill: white;
}

.clip-play-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.clip-tile.active polygon.inverse.brown {
  fill: #0963b5;
}

.active .name-tile {
  visibility: visible;
}

.swallowtail {
  min-width: 1rem;
}
