<footer class="relative w-screen bg-white"> 
  <div class=" p-2 md:p-6 xl:px-10 
    grid auto-rows-fr
    grid-cols-2 md:grid-cols-4 
    grid-rows-8 md:grid-rows-4 
    w-full gap-2 md:gap-5 z-20" >
    {{#each this.logos as |logo|}}
    <div 
      class="h-full px-2 md:px-6 flex justify-center items-center text-xl {{logo.extraClass}}">
      <a target="_blank" 
        rel="noreferrer noopener" 
        href="{{logo.website}}"
        class="block w-full h-full flex justify-center items-center">
        {{svg-jar (concat logo.name "-logo")
          class=(if
            (eq logo.name "austria")
            "w-1/5 md:w-1/6"
            (if
              (eq logo.name "eunic-eu")
              "w-full"
              "w-full md:w-3/5"
              )
            )}}
      </a>
    </div>
    {{/each}}
  </div>
  <p class="py-8 text-center text-xs md:text-base">
    © 2021 /UNDERCURRENT /70 John St. Brooklyn, NY, 11201.<br />All Rights Reserved.
  </p>
</footer>

