<header class="
  px-6 md:px-24 
  pt-4 md:pt-10
  pb-8 md:pb-14
  flex flex-row-reverse justify-between flex-row md:flex-col
  w-full">
  <div class="md:w-full flex justify-end flex-grow-1 h-6 md:h-14">
    {{svg-jar "unmute" class="h-full"}}
  </div>
  <NavBar />
</header>
    

