<header class="
  pb-4 md:pb-14
  flex flex-row-reverse justify-between flex-row md:flex-col
  w-full">
  <div class="md:w-full flex justify-end flex-grow-1 h-5 md:h-14">
    {{svg-jar "unmute" class="h-full"}}
  </div>
  <NavBar />
</header>
    

