<LinkTo class="flex flex-col w-full clip-tile" @route="team.team.clip" @model={{@clip}}>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 210.8 210.8"xml:space="preserve">
    <rect class="{{@team.color}}" width="210.8" height="210.8"/>
  <polygon class="inverse" points="123.5,105.4 105.4,95 87.3,84.5 87.3,105.4 87.3,126.3 105.4,115.8 "/>
  </svg>
  <p class="flex flex-row justify-between font-semibold pt-2 
    text-xs md:text-xl">
      Week /17
    </p>
</LinkTo>
