<section class="
  text-{{@color}} 
  text-justify 
  text-base md:text-lg 
  font-normal md:font-abnormal
  leading-tight md:leading-loose
  text-box
  ">
{{yield}}
  {{#if @markdownPath}}
    {{markdown-to-html (get-markdown-content "docs" @markdownPath)}}
  {{/if}}
</section>
