<aside class="w-100 flex flex-row justify-between mb-6">
  <div class="w-11/12 unveiling-banner flex-grow-1 
    bg-black text-white
    flex flex-col justify-center items-center
    ">
    <p class="text-center w-full font-normal" role="button" 
      {{on "click" this.toggleVideo}}
      >Video blah.</p>
    {{#if this.isShowing}}
    <div class="h-full w-full unveiling-banner-video-wrapper">
      <iframe 
        class="unveiling-banner-iframe"
        title="vimeo-player" 
        src="https://player.vimeo.com/video/11387248" 
        allow="autoplay; fullscreen; picture-in-picture"
        frameborder="0" allowfullscreen></iframe>
      <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
    {{/if}}
  </div>
  <div class="w-1/12 flex-grow-0 flex justify-end">
    <a href="http://undercurrent.nyc" class="text-ungreen">
      {{svg-jar "facebook-official" class="h-12 w-12 fill-current"}}
      <p class="text-center">RSVP on FB</p>
    </a>
  </div>
</aside>
