<div class="absolute top-0 left-0 w-screen h-screen sticky">
  <!-- <div --> 
  <!--   class="absolute top-0 left-0 w-full h-full" -->
  <!--   style="opacity: 1; transition: opacity 0.5s ease-in-out 0s; will-change: initial;" -->
  <!--   > -->
    <div class="video-wrapper">
      <iframe 
        title="Lino video"
        src="https://player.vimeo.com/video/505502942?title=0&byline=0&portrait=0&color=000000&muted=1&autoplay=1&autopause=0&loop=1&background=1"
        width="1920" 
        height="1080" 
        frameborder="0" 
        allow="autoplay; fullscreen; picture-in-picture" 
        allowfullscreen></iframe>
    </div>
  <!-- </div> -->
</div>
