<main class="w-screen h-screen bg-unPurple text-white relative">
  <header class="w-full bg-black absolute top-0 left-0 z-50">
    <LinkTo @route="coming-soon">↘︎</LinkTo>
  </header>
  <div class="absolute top-0 left-0 z-0 w-full h-full">
    <p>Video</p>
  </div>
  <p>welcome screen</p>
</main>


