.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.video-image-overlay {
  background-size: 16px 16px;
  background-image: url(/assets/png/checkerboard.png);
  background-position: center;
  image-rendering: pixelated;
  display: block;
  @apply absolute top-0 left-0 bottom-0 right-0 z-0 h-full w-full;
}
