<div class="flex flex-row space-x-5">
  <a href="http://undercurrent.nyc">
    {{svg-jar "undercurrent" class="h-7"}}
  </a>
  <a href="http://facebook.com/undercurrent.nyc/">
    {{svg-jar "facebook-official" class="h-7"}}
  </a>
  <a href="http://instagram.com/undercurrent.nyc">
    {{svg-jar "instagram" class="h-7"}}
  </a>
</div>
