<div class="hidden md:block">
  <ul role="menu" aria-orientation="horizontal" class="flex flex-row font-normal text-2xl space-x-7 tracking-wider">
    <li><LinkTo @route="clips" class="hover:text-unred nav-clips font-normal hover:underline">/clips</LinkTo></li>
    <li><LinkTo @route="about" class="hover:text-unpurple nav-about font-normal hover:underline">/about</LinkTo></li>
    <li><LinkTo @route="teams" 
      @current-when="team teams"
      class="hover:text-ungreen nav-teams font-normal hover:underline">/teams</LinkTo></li>
    <li><LinkTo @route="artists" class="hover:text-unblue nav-artists font-normal hover:underline">/artists</LinkTo></li>
    <li class="text-gray font-normal">/podcast</li>
    <li><a href="http://undercurrent.nyc/signup" class="hover:text-unred hover:underline font-normal">/get updates</a></li>
    <li><a href="http://10001.undercurrent.nyc" class="hover:underline font-normal">/10001</a></li>
  </ul>
</div>

