<div class="hidden md:block">
  <ul role="menu" aria-orientation="horizontal" class="flex flex-row font-normal text-2xl space-x-20 tracking-wider">
    <li><LinkTo @route="about" class="nav-about font-abnormal">/about</LinkTo></li>
    <!-- <li><LinkTo @route="about">/teams</LinkTo></li> -->
    <!-- <li><LinkTo @route="about">/artists</LinkTo></li> -->
    <!-- <li><LinkTo @route="about">/podcast</LinkTo></li> -->
    <li><a href="http://undercurrent.nyc/signup" class="font-abnormal">/get updates</a></li>
    <li><a href="http://10001.undercurrent.nyc" class="font-abnormal">/10001</a></li>
  </ul>
</div>

