<ul class="flex flex-row font-normal text-2.5xl space-x-20 tracking-wider">
  <li><LinkTo @route="about" class="nav-about">/about</LinkTo></li>
  <!-- <li><LinkTo @route="about">/teams</LinkTo></li> -->
  <!-- <li><LinkTo @route="about">/artists</LinkTo></li> -->
  <!-- <li><LinkTo @route="about">/podcast</LinkTo></li> -->
  <!-- <li><LinkTo @route="about">/get updates</LinkTo></li> -->
  <li><a href="http://10001.undercurrent.nyc">/10001</a></li>
</ul>

