<div 
  id="unmute-svg-container"
  class="flex-grow w-full h-full flex flex-col justify-center 
  items-center md:items-end md:pr-10 z-10">
  <svg 
    class="h-auto fill-current" 
    width="50%"
    viewBox="0 0 570 160"
    {{did-insert this.waitAndLaunch}}>
      <defs>
        <clipPath id="svg-windows-mask">
        <rect x={{this.gXOffset}} y={{this.gYOffset}} width="768" height="95" />
        </clipPath>
      </defs>
      <g id="svg-jackpot" clip-path="url(#svg-windows-mask)">
        <g id="svg-un"></g>
        <g id="svg-windows"></g>
     </g>
  </svg>
  <p class="text-base -mt-8 
    md:text-2xl 2xl:text-5xl 
    md:-mt-12 2xl:-mt-24
    w-3/4 md:w-1/2">
    An online residency, UN/MUTE provides European artists an opportunity to collaborate with a New York City–based network of artists. These transatlantic creative processes unfold over three months in video recordings, giving everyone a voice.
  </p>
</div>
