<Header />
<Main>
  <div class="text-unPurple col-span-1 pr-8">
    {{svg-jar "unmute-logo" class="fill-current w-full"}}
  </div>
  <div class="col-span-3 pl-6">
    <TextBox @color="unPurple" @markdownPath="about" />
  </div>
</Main>
<Footer />
