<Container>
  {{outlet}}
  <ul>
  {{#each @model as |team|}}
  <li><LinkTo @route="teams.team" @model={{team}}>{{team.name}}</LinkTo>
    <ul>
      {{#each team.artists as |artist|}}
        <li>{{artist.displayName}}</li>
      {{/each}}
    </ul>
  </li>
  {{/each}}
  </ul>
</Container>
